<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Information PDF</title>
      
    <style>





      .section {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
      }


      .section-left,
      .section-right {
        width: 50%;
      
      }


      .section-left {
        display: flex;
        flex-direction: column;
      }


      .section-right {
    
        text-align: left;
      }

p{
    margin:10px;
    padding:0px;
}
      {{!-- #paymentStatus {
      padding: 10px 10px ;
      border: 1px solid black;
      font-weight: bold;
      font-size: 15px;
      border-radius: 5px;
  } --}}
.table-container {
            overflow-x: auto;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            width: 25%; 
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
            text-align: center;
        }




    </style>
  </head>
<body>
    <div style="margin: 40px;"><h2 style="display:flex; justify-content:center;">X-INVOICE</h2>
     <h3 style="margin-left:10px;"><span style="border:1px solid black; padding:3px; ">{{invoiceData.paymentStatus}}</span><span style="margin-left: 12px;">{{invoiceData.invoiceName}}</span></h3>
       {{!-- <img src="./assets/multipleperson.png" alt="LOGO" style="max-width: 100%;  margin-left:70%;"> --}}
      <p>
      <span id="description">{{invoiceData.description}}</span></p>
    <div class="section">
      <div class="section-left">
        <p><strong>From:</strong></p>
      <p> <span id="firstNameFrom">{{clientData.firstName}}</span>
        <span id="lastNameFrom">{{clientData.lastName}}</span><br>
    <span id="address1From">{{clientData.address1}}</span><br>
      <span id="postalCodeFrom">{{clientData.postalCode}}</span> <span id="cityFrom">{{clientData.city}}</span><br>
      <span id="countryFrom">{{clientData.country}}</span></p>
      </div>


      <div class="section-right">
        <p ><strong >Invoice No.:</strong> <br> <span id="invoiceNumber">{{invoiceData.invoiceNumber}}</span></p>
        <p><strong>Date:</strong><br> <span id="date">{{invoiceData.date}}</span></p>
      </div>
    </div>


    <div class="section">
      <div class="section-left">
        <p><strong>To:</strong></p><p>
  <span id="firstNameTo">{{clientData.firstName}}</span> <span id="lastNameTo">{{clientData.lastName}}</span><br>
    <span id="address1To">{{clientData.address1}}</span><br>
  <span id="postalCodeTo">{{clientData.postalCode}}</span> <span id="cityTo">{{clientData.city}}</span><br>
    <span id="countryTo">{{clientData.country}}</span></p><br>
      </div>
      <div class="section-right">
        <p><strong>Purchase Order Number:</strong><br> <span id="purchaseOrderNumber">{{invoiceData.purchaseOrderNumber}}</span></p>
        <p><strong>Invoice Due:</strong><br> <span id="invoiceDueDate">{{invoiceData.invoiceDueDate}}</span></p>
      </div>
    </div>


      
{{!-- <div style="display: flex; justify-content: space-between;">
    <p><strong>Description</strong></p>
    <p><strong>Quantity</strong></p>
    <p><strong>Rate</strong></p>
    <p><strong>Amount</strong></p>
</div>
<div id="itemsContainer">
    {{#each invoiceData.items}}
        <div style="display: flex; justify-content: space-between;">
            <p>{{this.description}}</p>
            <p>{{this.quantity}}</p>
            <p>{{this.rate}}</p>
            <p>{{this.amount}}</p>
        </div>
    {{/each}}
</div> --}}
<div class="table-container">
            <table>
                <thead id="itemsContainer">
                    <tr>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Rate</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody id="itemsContainer">
                    {{#each invoiceData.items}}
                    <tr>
                        <td>{{this.description}}</td>
                        <td>{{this.quantity}}</td>
                        <td>{{this.rate}}</td>
                        <td>{{this.amount}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>




      <div style="display: flex; justify-content: space-between; margin-left: 200px; margin-top:10px;">
        <div style="text-align: left">
          <p><strong>Subtotal:</strong></p>
          <p><strong>Total:</strong></p>
          <p style="text-align: center; background-color: gray; ">
        
              <strong
              id="paymentStatus" >
                Balance:
                </strong>
        
        
          </p>
        </div>


        <div style="text-align: right ">
          <p><span id="subtotal">{{invoiceData.subtotal}}</span></p>
          <p><span id="total">{{invoiceData.total}}</span></p>
          <p><span id="total " style="margin-top:7px;">{{invoiceData.total}}</span></p>
        </div>


      </div>
      <div style="margin-top:10px;">
        <p><strong >Invoice Notes:</strong></p>
        <p><span id="notes">{{invoiceData.notes}}</span></p>
      </div>
      <hr />
    
      <div style="display: flex; margin-top:10px;">
        <p><strong>Email:</strong>
        <p><span id="email">{{businessData.email}}</span></p>
        </p>
      </div>
      <div><span style="display:flex; justify-content:center; margin-top:30px;">Powered By AccellionX</span></div>


    </div>


  
    </div>
    </div>


  </body>
</html>
